nav a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
}
nav a:hover,
nav a:focus {
	outline: none;
}
/*----*/
.navbar-brand span {
    font-size: 0.7em;
}
.navbar-nav {
    float: right;
	margin-top: 1.2em;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
	padding-right: 0px;
    padding-left: 0px;
}
.navbar-default {
    background: none !important;
    border: none !important;
	padding: 1.5em 0;
}
.navbar-brand h1 a {
    font-size: 1.4em;
    text-decoration: none;
	color:#fff;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav > li > a {
    padding: 0px 15px;
	color:#fff;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 7px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
	font-family: 'Cagliostro', sans-serif;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #49872E;
    color: #ff9900;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #49872E;
    color: #ff9900;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ff9900;
   background-color: #49872E;
}
.link-effect-2 {
  overflow: hidden;
}
.link-effect-2 a {
  overflow: hidden;
  font-weight: 400;
}
.link-effect-2 a span {
  position: relative;
  display: inline-block;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link-effect-2 a span::before {
  color: #ff9900;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.link-effect-2 a:hover span {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}